.jumbotron {
  background-image: url("https://secure.static.tumblr.com/1d1a06969c8c889b59d67c39422dcfbb/buksh0y/VYDnofdh6/tumblr_static_tumblr_static_anv7qo0l8bcc0wcwcgks4cw48_640.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-left: 20px;
}
